.idea

IaaC/.terraform/
IaaC/.terraform.lock.hcl
IaaC/terraform.tfstate
IaaC/terraform.tfstate.backup
k8s/terraform.tfstate

IaaC/jenkins-pub-ip.txt
initialAdminPassword

MySQL-and-Python/flask-sql-env

IaaC/roles/ansible

IaaC/roles/terraform

IaaC/roles/jenkins/defaults
IaaC/roles/jenkins/files
IaaC/roles/jenkins/handlers
IaaC/roles/jenkins/meta
IaaC/roles/jenkins/templates
IaaC/roles/jenkins/tests

IaaC/roles/docker/defaults
IaaC/roles/docker/files
IaaC/roles/docker/handlers
IaaC/roles/docker/meta
IaaC/roles/docker/templates
IaaC/roles/docker/tests
IaaC/roles/docker/vars

IaaC/roles/kubectl/defaults
IaaC/roles/kubectl/files
IaaC/roles/kubectl/handlers
IaaC/roles/kubectl/meta
IaaC/roles/kubectl/templates
IaaC/roles/kubectl/tests
IaaC/roles/kubectl/vars


IaaC/roles/awscli/defaults
IaaC/roles/awscli/files
IaaC/roles/awscli/handlers
IaaC/roles/awscli/meta
IaaC/roles/awscli/templates
IaaC/roles/awscli/tests
IaaC/roles/awscli/vars

DevOps Bootcamp Capstone Project_09072023.pdf
f264cd40-7543-434e-994a-8b97b39bd730.jpeg

step-by-step.txt
